*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: gilB;
    src: url('../font/Gilroy-ExtraBold.otf');
}

@font-face {
    font-family: gilL;
    src: url('../font/Gilroy-Light.otf');
}

.service_header{
    width: 100%;
    height: 56vh;
    background-image: url('../img/NewService/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 17%;
    padding-left: 7%;
}
.service_header > h1{
    font-family: extra;
    font-size: 4.8rem;
  
}
.page{
    width: 100%;
    padding: 20px 100px;
    min-height: 80vh;
    background-color: #fff;
}
.page1 > .integration_heading{
 width: 40%;
 height: fit-content;
}
.page1 > .integration_heading > h1{
  color: #000;
    font-family: gilB;
    font-size: 4.8rem;
    font-weight: 900;
    margin-left: 30px;
}

.integration_container{
    margin-top: 47px;
    display: flex;
}

.page1 .integration_container .left_container{
    width: 50%;
    height: 60vh;
    padding: 20px 30px;
    /* background-color: green; */
    overflow-y: auto;
    scrollbar-width: thin;
}
.page1 .integration_container .left_container > h3 > span{
 color: #02bfb6;
}

.page1 .integration_container .left_container > p > span{
  color: #02bfb6;
 }


.page1 .integration_container .left_container::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}


.page1 .integration_container .right_container{
    width: 50%;
    height: 80vh;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.integration_container .right_container .right_container_img > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  
}
.integration_container .right_container .right_container_img{
    width: 400px;
    height: 400px;
    /* box-shadow: 0px 10px 50px #c8c8c89d; */
    /* background-color: red; */
}
.page1 .integration_container .left_container > p{
     text-align: left; 
     color: #000;
     font-family: extra;
     font-size: 1em;
}
.page1 .integration_container .left_container > h3{
    font-weight: 700;
    font-family: gilL;
    font-size: 2em;
    color: #000;
}
.page1 .integration_container .left_container > h2{
    font-family: gilL;
    font-weight: 700;
    font-size: 1.7em;
    color: #000;
}
.filters-content .grid {
    margin-left: 4% !important;
}

.Salesforce_Clouds .content {
    display: none;
    margin-top: 10px;
    padding: 22px;
    border: 1px dashed #ccc;
  }
  .Salesforce_Clouds  .active {
    display: block;
  }
  .Salesforce_Clouds .container .buttons {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    padding: 60px 30px;
  }
  

  
  .Salesforce_Clouds .container .buttons > button {
    border: none;
    padding: 10px 20px;
    background-color: #e3e3e3;
    color:#000;
    border-radius: 5px;
    overflow: hidden;
    font-family: extra;
  }

  .buttons > button{
    position:relative;
   
    
  }
  .buttons > button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #02bfb637;
    left: 0%;
    bottom: -100%;
    border-radius: 25px;
    transition: all 0.2s ease;
  }

  .buttons > button:hover::before{
      bottom: 0%;
      border-radius: 0;
  }

  &::before{
    border: none !important;
  }

  


  .Salesforce_Clouds   .active-btn {
    color: #fff !important;
    background-color:  #02bfb6 !important;
  }


  /* card */

  .Salesforce_Clouds  .content_main {
    max-width: 1200px;
    margin: 0 auto;
  }

  .Salesforce_Clouds   h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }

  .Salesforce_Clouds  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }

  .Salesforce_Clouds  .btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
  }

  .Salesforce_Clouds   .btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }

  .Salesforce_Clouds  .cards {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  .Salesforce_Clouds  .cards_item {
    display: flex;
    padding: 1rem;
  }
 
/* 
  @media (min-width: 40rem) {
    .cards_item {
      width: 30%;
    }
  }

  @media (min-width: 56rem) {
    .cards_item {
      width: 30.3333%;
    }
  } */

  .Salesforce_Clouds  .card {
    /* background-color: white; */
    /* border-radius: 0.25rem; */
    /* box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25); */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* border: 1px solid #000; */
    align-items: center;
    cursor: pointer;
  }

  .Salesforce_Clouds   .card_content {
    padding: 1rem;
    /* background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%); */
  }

  .Salesforce_Clouds   .card_title {
    /* color: #ffffff; */
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
    font-family: gilL;
    margin-top: 5px;
  }

  .Salesforce_Clouds   .card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
  }
  .Salesforce_Clouds  .made_by {
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
  }
  .Salesforce_Clouds  .card_icon{

    padding: 20px 20px;
    border: 2.5px solid #02bfb6 ;
    border-radius: 50%;
    color: #fff;
   
  }
  .Salesforce_Clouds  .card:hover .card_icon{
    /* color:#9875E4 !important ; */
    border: 2.5px solid #9875E4 !important ;
  }
  .Salesforce_Clouds  .card_icon > i{
    font-size: 3rem;
    text-align: center;
  }

/* animation */

.rotate-animation{
  transform-origin: center;
  transform-style: preserve-3d;
  animation: rotate-animation 2.5s ease infinite;
}



@keyframes rotate-animation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media (max-width:1000px){
  .page1 > .integration_heading > h1 {
  
  width: 70vw !important;
  }
  .page{
    padding: 24px 10px;
  }
  .integration_container{
    align-items: center;
    flex-direction: column;
  }
  .page1 .integration_container .left_container{
  width: 100% !important;
  }
  .Why_CLM{
    padding: 32px 21px !important;
  }
}

@media (max-width:620px){
  .page1 > .integration_heading > h1 {
  
    width: 100vw !important;
    }

    .page1 .integration_container .left_container{
    padding: 20px 8px;
      }

    .page1 .integration_container .right_container{
      width: 100%;
    }

    .page1 > .integration_heading > h1{
      margin-left: 5px !important;
    }
}

@media (max-width:400px){
  .filters-content .grid{
    margin-left: 0% !important;
  }
  .page1 > .integration_heading > h1 {
  font-size: 2em !important;
  }
}

/* faq-2 */

.faq-accordion .accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.faq-accordion .accordion__item {
  border: 1px solid #e5f3fa;
  border-radius: 10px;
  overflow: hidden;
}

.faq-accordion .accordion__header {
padding: 20px 25px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.faq-accordion .accordion__header::after {
  content: '';
  background: url(https://www.svgrepo.com/show/357035/angle-down.svg) no-repeat center;
  width: 20px;
  height: 20px;
  transition: .4s;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}

.faq-accordion .accordion__header.active {
  background: #7bc6c2;
}

.faq-accordion .accordion__header.active::after {
  transform: rotateX(180deg);
}

.faq-accordion .accordion__item .accordion__content {
  padding: 0 25px;
  max-height: 0;
  transition: .5s;
  overflow: hidden;
}

.faq-integrate{
  width: 100%;
  height: 80vh;
  background-color: #fff;
  font-family: extra;
}

.faq-integrate{
  padding: 4% 5%;
}

.faq-integrate_heading{
    margin-bottom: 20px;
  font-weight: 700;
    font-family: gilL;
    font-size: 2em;
    color: #000;
}
#content1 > ul{
 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: center;
}

#content1 > ul > li{
  flex-shrink: 0;
  width: 40%;

padding: 10px 30px;
/* border: 2px solid #fff; */
color: #fff;
}

.Why_StanzaForce{

  font-family: extra;
  width: 100%;
  min-height: 45vh;
  background-color: #fff;
}
.Why_StanzaForce > h1{
  text-align: center;
  margin: 0;
  font-size: 2em;
  color: #000;
}
.Why_StanzaForce > p{
  margin-top: 50px;
  padding: 0 65px;
  color: #000;
  font-family: extra;
  text-align: center;
  font-size: 1em;
}
.Why_CLM{
 padding: 40px 125px;
  width: 100%;
  /* height: 100vh; */
  background-color: #fff;
  
}
.Why_CLM > h1{
  font-family: extra;
  color: #000;
  font-size: 2em;
  margin: 0;
  padding: 10px 0;
}
.Why_CLM > p{
  padding-top: 10px;
  font-family: extra;
  font-weight: 500;
  color: #000;
  font-size: 1em;
  margin-bottom: 0 !important;
}
.Why_CLM > p > span{
  font-family: GilB;
  color: #000;
}
.CLM_cards{
  width: 100%;
  /* min-height: 100vh; */
  background-color: #fff;
  padding: 50px 50px;
  /* display: flex; */
}
.CLM_cards > h1{
  text-align: center;
  color: #000;
  font-size: 2em;
  font-family: extra;
  font-weight: 900;
  padding: 40px 0;
  margin: 0;
}
.CLM_cards> .align_boxes{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 /* grid-template-rows: repeat(2,1fr); */
 /* align-items: center; */
 justify-items: center;
}
.CLM_cards> .align_boxes .align_div{
  flex-shrink: 0;
  /* padding:0 100px; */
width: 400px;
/* height: 300px; */
display: flex;
}

.CLM_cards > h2{
  margin: 0;
  padding-bottom: 46px;
  color: #000;
  text-align: center;
   text-decoration: wavy;
}

.CLM_cards > h2 > span{
  color: #02bfb6;
}

.realate_icon{

  text-align: center;
  width: 93px;
  height: 100%;
  /* background-color: #9875E4; */
}
.realate_icon > i{
  background-color: #9875E4;
  color: #fff;
  border-radius: 50px;
  padding: 14px 14px;
  font-size: 1.2em;
} 
.realete_text{
  
  padding: 4px 7px;
  border-radius: 10px;
  width: 80%;
  height: 100%;
  /* background-color: #02bfb6; */
}
.realete_text span{
  color: #000;
  font-family: GilB;
}
.realete_text > p{
  /* text-align: justify; */
  font-family: GilL;
  font-weight: 700;
  font-size: 1em;
  color: #000000a7;
}

@media (max-width:650px){
  #content1 > ul > li{
    width: 100%;
  }
  .integration_container .right_container .right_container_img{
    width: 250px;
    height: 250px;
  }
  .CLM_cards> .align_boxes .align_div{
    width: 100%;
    /* height: 232px; */
  }
  .CLM_cards > h1{
    font-size: 1.6em;
  }
}

@media (max-width:500px){
  .page1 .integration_container .left_container > p {
    font-size: 0.8em;
  }
  /* .Why_CLM{
    height: 78vh;
  } */
  .CLM_cards{
    padding: 20px 7px;
  }
  /* #Why{
    height: 123vh !important;
  }
  .small{
    height: 139px !important;
  }
  .big{
    height: 107vh !important;
  } */
}

@media (max-width:450px){
  .Why_StanzaForce > h1{
    font-size: 2.8rem;
  }
  .page1 .integration_container .left_container > h3{
    font-size: 1.5em;
  }
  .Why_CLM > h1 {
    font-size: 1.5em;
  }

  

}
.Why_StanzaForce > p {
margin-top: 31px;
padding: 0 18px !important;
}

@media (max-width:400px){
  .Why_StanzaForce > p{
    font-size: 1em;
    margin-top: 20px !important;
  }
  .filters-content .grid .card-body{
    width: 28rem !important;
  }
  .service_header > h1{
    font-size: 9vw;
  }
  .realete_text > p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden; 
  /* overflow: hidden; */
  }
}
@media (max-width:900px){
  .service_header{
    padding-top: 3%;
    padding-left: 2%;
  }
}

@media(max-width:1250px){
  .CLM_cards> .align_boxes{
    grid-template-columns: repeat(2,1fr);
    /* height: 100vh; */
  }
}
@media(max-width:830px){
  .CLM_cards> .align_boxes{
    grid-template-columns: repeat(1,1fr);
    /* height: 100vh; */
  }
  .realete_text > p{
    font-size: 0.8em;
  }
  .realete_text{
    /* height: 64%; */
  }
}
@media (max-width:350px){
  .CLM_cards> .align_boxes .align_div{
    /* height: 270px; */
  }

  .CLM_cards > h1 {
    font-size: 8vw;
}
.Why_CLM > p {
  font-size: 0.8em;
}
.CLM_cards> .align_boxes .align_div{
  padding: 5px 10px;
}
}


@media (min-width:400px) and (max-width:550px){
  .service_header > h1 {
  font-size: 4rem;
  }


}

@media (max-width:280px){
  /* .Why_CLM {
    height: 80vh;
} */
}

@media (min-width:754px){
  /* .Why_CLM {
    height: 84vh !important;
} */
}

@media(min-width:350px) and (max-width:378px){
  /* #Why {
    height: 134vh !important;
} */
}

@media (min-width:1570px){
  /* #Why {
    height: 80vh !important;
} */

}


.Why_StanzaForce > h1 >span{
  color: #02bfb6;
}
.Why_StanzaForce > p >span{
  color: #02bfb6;
}